* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 900px) {
  body {
    background-color: red;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 901px) {
  body {
    background-color: grey;
  }
}